*{
    font-size: 17px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/back.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.mySpace{
    padding-top: 20px;
}

.mySpaceForLogin{
    padding-top: 80px;
}

.btn-spacer{
    width: 200px;
}

.isDisabled {
    color: currentColor;
    display: inline-block;
    pointer-events: none;
    text-decoration: none;
}