*{
    font-size: 17px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/back.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav{
    background: linear-gradient(to top, rgba(255,0,0,0), rgb(0, 0, 0));
    height: 100px;
}

.th-btn-width{
    width: 40px;
}

.mySpace{
    padding-top: 10px;
}

.mySpaceForLogin{
    padding-top: 80px;
}

.btn-spacer{
    width: 200px;
}

.btn-vehicle-form{
    width: 200px;
    margin-left: 55px;
}

.isDisabled {
    color: currentColor;
    display: inline-block;
    pointer-events: none;
    text-decoration: none;
}